<ul>
  {{#each legislator in model}}
    <li> <span class="api-info">First-Name: </span>{{legislator.first_name}}
      <br> <span class="api-info"> Last-Name: </span> {{legislator.last_name}} <br>

      <span class="api-info"> Contact: </span> <a href={{legislator.contact_form}}>{{legislator.contact_form}}</a></li>
      <br><br>
  {{/each}}
</ul>
