
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <h1>Government Secrets Detector Machine</h1>
      <p>Find out what's really going on in Washington. Choose your section from the nav menu and get the latest gossip</p>
      <img class="main-pic" src="./hillary.jpg">
    </div>
      <div class="col-md-1"></div>
  </div>
